name: Run

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

concurrency:
  group: run
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Restore Cookies
        uses: actions/cache@v4
        with:
          path: cookies.json
          key: cookies

      - name: Run
        run: npx ts-node index.ts
        env:
            ID: ${{ secrets.ID }}
            PASSWORD: ${{ secrets.PASSWORD }}

      - name: Cache Cookies
        uses: actions/cache@v4
        with:
          path: cookies.json
          key: cookies
